@use "sass:math";
@import '../../styles/variables.scss';
@import '../../styles/mixins';

.hero-card {
	transition: transform 0.45s ease 0s, filter 400ms ease;
	@media (any-hover: hover){
		&:not(._active):not(.skeleton):hover{
			transform: translateY(-2%);
			filter: drop-shadow(0px -2px 13px #000000c2);
		}
	}
	&._active{
		filter: drop-shadow(0px 5px 20px #9F0013);
		transform: translateY(-2.5%);
	}
	&__image-ibg {
		padding-bottom: percent(200,200);
	}

	&__info {
		padding: 15px;
		background-color: $gray;
		height: rem(118);
	}
	
	&__title {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		color: #fff;
	}
}
