@use "sass:math";
@import '../../styles/variables.scss';
@import '../../styles/mixins';
.hero-catalog {
	&__container {
		display: flex;
		column-gap: rem(25);
		row-gap: rem(40);
		@media (max-width:$tablet){
			flex-direction: column-reverse;
		}
	}
}
.hero-list {
	flex: 0 1 rem(650);
	display: flex;
	flex-direction: column;
	align-items: center;
	&__items {
		width: 100%;
		display: grid;
		column-gap: rem(25);
		row-gap: rem(31);
		grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
	}

	&__btn {
		min-width: rem(170);
		@include adaptiveValue("margin-top", 45, 25);
		&:disabled{
			opacity: 0.6;
			pointer-events: none;
		}
	}
}
//===================================================================================================================================
$loading-grey: #D1CACA;
.skeleton{
	.hero-card__title {
		min-height: 1.6rem;
		border-radius: 4px;
		animation-delay: .05s;
	}
	.hero-card__info{
		margin-top: 10px;
		background-color: $loading-grey;
	}
	.hero-card__image-ibg,
	.hero-card__info{
		background-color: $loading-grey;
		background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, .5) 50%,
			rgba(255, 255, 255, 0) 60%
		) $loading-grey;
		background-size: 200% 100%;
		background-position-x: 180%;
		animation: 1s loading ease-in-out infinite;
	}
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
